.impar {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#special {
    color:blue;
    font-size: 36px;
}

#tercer {
    font-size: 24px;
}

#cuarto {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}