.tarjeta {
    position: relative;
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    background-color: antiquewhite;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta img {
    display: absolute;
    position: absolute;
    top: -155px;
    left: -145px; 
    border-radius: 50%;
}

.tarjeta h2 p button {
    text-align: center;
}